@{
    ViewBag.Title = "Página Home";
}

<div class="jumbotron jumbotron-fluid jumbotron-with-background">
</div>

<div class="titulo">
    <div class="col-md-offset-8">
        <h1>MBTI</h1>
        <p class="lead">Projeto MBTI</p>
    </div>
</div>

<div class="row textinhos">
    <div class="col-md-4">
        <h2>ENTJ</h2>
        <p>
            São pessoas eficientes e decididas, que têm um raciocínio de longo prazo
            e uma excelente capacidade de traduzir teorias e possibilidades em sólidos planos de ação.
            São pessoas de personalidade tremendamente forte, e de capacidade de conquistar quaisquer
            metas que estabeleçam para si.
        </p>
        <p><a class="btn btn-default" href="https://www.16personalities.com/entj-personality">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ISFP</h2>
        <p>
            Os ISFP's se concentram para dentro antes de responder ao mundo exterior. Eles ganham energia a partir do momento em que podem refletir sobre seus próprios pensamentos.
            O ISFP é uma pessoa que tem uma forte afinidade por estética e beleza, geralmente amam animais e realmente valorizam a beleza da natureza.
        </p>
        <p><a class="btn btn-default" href="https://www.16personalities.com/isfp-personality">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ESFP</h2>
        <p>
            Se alguém é visto cantando e dançando espontaneamente, essa é a pessoa com a personalidade de Animador.
            Os Animadores ficam presos na excitação do momento, e querem que todos os outros se sintam assim também.
            Nenhum outro tipo de personalidade é tão generosa com seu tempo e energia como os Animadores quando se trata de encorajar outros, e nenhum outro tipo de personalidade o faz com um estilo tão irresistível.
        </p>
        <p><a class="btn btn-default" href="https://www.16personalities.com/esfp-personality">Saiba Mais &raquo;</a></p>
    </div>
</div>
